<tr class="border-t border-neutral" id="provider_<%= provider.id %>">
  <td class="text-white">
    <%= provider.name %>
  </td>
  <td class="flex text-white justify-evenly">
    <%= button_to edit_provider_path(provider), 
            method: :get, # Ensures it sends a GET request like a link
            class: "", 
            data: { turbo_stream: true } do %>
      <%= render "svg/edit" %>
    <% end %>

    <%= button_to provider_path(provider), method: :delete, class: "text-white" do %>
      <%= render "svg/delete" %>
    <% end %>
  </td>
</tr>