<div class="w-full">
  <% content_for :title, "Fine Tunes" %>

  <div class="flex justify-between mb-2">
    <h1 class="text-4xl font-bold text-white"></h1>
    <!-- Search Filter -->
    <%= form_with url: fine_tunes_path, method: :get, data: { controller: "form", action: "input->form#submit", turbo_frame: "fine_tunes", turbo_action: "advance" } do %>
      <%= text_field_tag "filter", nil, placeholder: "Filter", class: "bg-custom-bg-main w-full" %>
    <% end %>
  </div>

  <div class="overflow-x-auto rounded-lg">
    <table class="table min-w-full border-t table-zebra border-neutral">
      <!-- Header -->
      <thead>
        <%= render partial: "shared/resource_table_header", locals: { headers: ["Fine Tune Name", "Base Model"] } %>
      </thead>

      <tbody id="fine_tunes">
        <div>
          <%= turbo_frame_tag "new-fine-tune-form", class: "w-full" do %>
            <%= render "form", fine_tune: FineTune.new %>
          <% end %>
        </div>
        <!-- Fine Tune Rows -->
        <%= render @fine_tunes %>
      </tbody>
    </table>
  </div>
</div>