<div class="flex justify-between border-t border-neutral" id="base_model_<%= base_model.id %>">
  <div class="m-2 text-white">
    <%= base_model.name %>
  </div>
  <div class="m-2 text-white">
    <%= base_model.company %>
  </div>
  <div class="flex text-white justify-evenly">
    <%= button_to edit_base_model_path(base_model), 
            method: :get, # Ensures it sends a GET request like a link
            class: "m-2", 
            data: { turbo_stream: true } do %>
      <%= render "svg/edit" %>
    <% end %>

    <%= button_to base_model_path(base_model), method: :delete, class: "m-2 text-white" do %>
      <%= render "svg/delete" %>
    <% end %>
  </div>
</div>