<%= turbo_frame_tag base_model do %>
  <tr class="transition duration-200 bg-gray-900 hover:bg-gray-800">
    <td class="px-4 py-2 text-white">
      <%= base_model.name %>
    </td>
    <td class="px-4 py-2 text-white">
      <%= base_model.company %>
    </td>
    <td class="flex px-4 py-2 space-x-2 text-white">
      <%= link_to "Edit", edit_base_model_path(base_model),
                class: "text-blue-500 hover:underline",
                data: { turbo_frame: dom_id(base_model) } %>
      <%= button_to "Delete", base_model_path(base_model),
                  method: :delete,
                  class: "text-red-500 hover:underline" %>
    </td>
  </tr>
<% end %>